/* HEADER */
.main-header {
    color: var(--color-black);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* MAIN CONTENT */
.faq {
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 3rem;
    color: var(--color-primary);
}

/* FAQ ITEMS */
.faq-item {
    width: 90%;
    margin: 1rem auto;
    border-radius: 4px;
    overflow: hidden;
}

.faq-question {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-shade1);
    font-weight: bold;
}

.faq-question::before {
    content: "+";
    margin-right: 0.5rem;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
}

.faq-question.open::before {
    content: "-";
}

.faq-answer {
    display: none;
    padding: 1rem;
    border-top: 1px solid var(--color-primary);
}

.faq-answer.show {
    display: block;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
    .nav-open .nav-links {
        background: var(--color-black);
        color: var(--color-white);
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle .bar {
        background: var(--color-black);
    }

    .cart-count-badge {
        display: none !important;
    }
}